In [1]:
#Import Dependencies

import pandas as pd
import glob, os
import random

from yelpapi import YelpAPI
from pprint import pprint
 
os.chdir('Resources')
results = pd.DataFrame([])
 
for counter, file in enumerate(glob.glob("bls_qcew_maps_excel-*")):
    namedf = pd.read_csv(file, skiprows=3)
    results = results.append(namedf)
 
results.to_csv('combinedfile.csv')

In [3]:
#Format DataFrame
CountyIncome = pd.read_csv('combinedfile.csv')
CountyIncome = CountyIncome.rename(columns = {'USPS':'State', 
                                             'Area Name': 'County'})
#CountyIncome=CountyIncome.set_index('State')
CountyIncome = CountyIncome.drop(columns=['Unnamed: 0','FIPS', 'Quarter', 'Industry'])
CountyIncome.head()

,County,Year,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),State
0,Allegany County,2019.0,1564.0,29113.0,0.3,751.0,2.6,MD
1,Anne Arundel County,2019.0,15384.0,270523.0,0.3,1194.0,3.2,MD
2,Baltimore County,2019.0,21389.0,378706.0,0.5,1122.0,1.2,MD
3,Calvert County,2019.0,1886.0,22805.0,-0.3,988.0,-0.3,MD
4,Caroline County,2019.0,687.0,9993.0,2.4,831.0,4.8,MD

In [19]:
CountyIncome_randomdf = CountyIncome.sample(n = 100) 
CountyIncome_randomdf['County and State'] = (CountyIncome_randomdf["County"] + ", " + CountyIncome_randomdf["State"])
CountyIncome_randomdf
#Counties = (CountyIncome[['County', 'State']])
#print(Counties)

,County,Year,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),State,County and State
3070,Skagway Municipality,2019.0,136.0,485.0,0.0,822.0,1.1,AK,"Skagway Municipality, AK"
937,Spencer County,2019.0,472.0,6397.0,1.5,887.0,4.5,IN,"Spencer County, IN"
868,Blackford County,2019.0,235.0,3088.0,-6.7,678.0,-5.7,IN,"Blackford County, IN"
460,Broome County,2019.0,4426.0,85643.0,0.1,900.0,3.9,NY,"Broome County, NY"
2700,Wake County,2019.0,35666.0,565981.0,2.4,1213.0,5.5,NC,"Wake County, NC"
...,...,...,...,...,...,...,...,...,...
327,Marquette County,2019.0,368.0,3786.0,0.3,869.0,15.4,WI,"Marquette County, WI"
388,Greene County,2019.0,899.0,15696.0,1.4,731.0,3.1,AR,"Greene County, AR"
24,Adams County,2019.0,832.0,10390.0,0.1,678.0,4.8,MS,"Adams County, MS"
1553,Wayne County,2019.0,353.0,5666.0,-3.1,575.0,-4.3,KY,"Wayne County, KY"
256,West Baton Rouge Parish,2019.0,745.0,12840.0,4.9,1127.0,9.4,LA,"West Baton Rouge Parish, LA"

In [31]:
api_key = '9nJV8mKF__qDKP8k7GzWFOoTbXjCPTCKDliNkjhv4jFyBukbefp-V1HA0gl1TYnCH3s0E0CvtwLj9440c4tlb7Wu9F94lKy9voJTqrYUQ6wSiQIzvPdYiAT69byWXXYx' 
yelp_api = YelpAPI(api_key)
total_fastfood = []
for county in CountyIncome_randomdf['County and State']:
    
    search_results = yelp_api.search_query(term = 'fast food', location = county)
    total_fastfood.append(search_results['total'])
    
len(total_fastfood)
print(total_fastfood)

[2, 293, 123, 205, 1600, 150, 15, 753, 628, 68, 445, 144, 2000, 660, 527, 407, 89, 3600, 5300, 221, 120, 82, 1000, 21, 184, 275, 37, 14, 505, 302, 127, 5, 213, 199, 4, 56, 133, 417, 210, 10, 138, 5300, 14, 95, 826, 39, 345, 296, 1700, 379, 1800, 836, 185, 589, 938, 36, 1600, 31, 1400, 961, 180, 917, 331, 865, 296, 2500, 859, 445, 187, 269, 59, 114, 197, 79, 1000, 107, 78, 4100, 12, 867, 124, 43, 11, 107, 21, 107, 216, 2400, 5, 99, 202, 211, 190, 20, 2600, 199, 161, 56, 267, 410]

In [34]:
County_and_State = CountyIncome_randomdf['County and State']
Average_Weekly_Wages = CountyIncome_randomdf['Average Weekly Wages']

In [35]:
County_FastFood_df = pd.DataFrame({"Counties" : County_and_State, "Total Fast Food Restaurants" : total_fastfood, 'Average Weekly Wages' : Average_Weekly_Wages })
County_FastFood_df

,Counties,Total Fast Food Restaurants,Average Weekly Wages
3070,"Skagway Municipality, AK",2,822.0
937,"Spencer County, IN",293,887.0
868,"Blackford County, IN",123,678.0
460,"Broome County, NY",205,900.0
2700,"Wake County, NC",1600,1213.0
...,...,...,...
327,"Marquette County, WI",199,869.0
388,"Greene County, AR",161,731.0
24,"Adams County, MS",56,678.0
1553,"Wayne County, KY",267,575.0
256,"West Baton Rouge Parish, LA",410,1127.0